<div class="BICRE">
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "",
          v: "weekly"
        });
      </script>      
    <div class="route_definition">
        <form id="input_form" method="POST" action="http://localhost:5000/">
            <input type="text" id="start_addr" name="start_addr" placeholder="Origin">
            <input type="text" id="end_addr" name="end_addr" placeholder="Destination">
            <input type="submit" id="submit_route" value="Find Route">
        </form>
    </div>
    <!-- <div class="route_display">
        <div class="route_steps">

        </div>
        <div class="map_embedding">
            <iframe allowfullscreen
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBlVl2tVCSGkS8EgIfbNK5pArq11-r-8JI
                    &q=Boston+Public+Library,Boston+MA" frameborder="0"></iframe>
        </div>
    </div> -->
</div>